@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Palanquin+Dark&display=swap');

.showroom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showroom h1{
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin: 0;
}
.showroom img{
    width: 100%;
}
.showroom p{
    margin: 0;
    padding: 20px 100px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: grey;
}

@media screen and (max-width:800px){
    .showroom p{
        margin: 0;
        padding: 20px 30px;
    }
}